.centrarTitulo{
    text-align: center;
}
.tituloPrincipal{
    padding-left: 15%;
}
p{
    text-align: center;
}
#mision{
    font-size: 20px;
    color: green;
}
#banner{
    width: 100%;
}
.listas{
    font-style: italic;
}
.principal{
    background-color: rgb(176, 199, 199);
    padding: 20px;
}
.diferenciales{
    background: white;
    padding: 30px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
}
.imagenLista{
    width: 50%;
}